.story {
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

.story img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 2px solid #ff8501;
}
.story p{
    font-size: .8rem;
}