<body>
  <section>
    <aside>
      <img src="instagramLogo.svg" alt="logo instagram" />
      <div class="nav__links">
        <div>
          <img
            src="https://img.icons8.com/material-outlined/24/000000/home--v2.png"
            alt="Home"
          />
        </div>
        <div>
          <img
            src="https://img.icons8.com/material-outlined/24/000000/compass.png"
            alt="Explore"
          />
        </div>
        <div>
          <img
            src="https://img.icons8.com/material-outlined/24/000000/like.png"
            alt="Notifications"
          />
        </div>
        <div>
          <img
            src="https://img.icons8.com/material-outlined/24/000000/user.png"
            alt="Profile"
          />
        </div>
      </div>
    </aside>

    <main>
      <div class="feed">
        <header class="stories">
          @for (friend of friendsList; track friend.name) {
          <app-storie [img]="friend.story.image" [name]="friend.name" />
          }
        </header>
        @for (friend of friendsList; track friend.name) { @for (post of
        friend.posts; track post.caption) {
        <app-post
          [coments]="post.comments"
          [likes]="post.likes"
          [img]="post.image"
          [userName]="friend.name"
          [imgUser]="friend.profile_picture"
        />
        } }
      </div>
    </main>

    <aside>
      <div class="profile__info">
        <img src="https://via.placeholder.com/60" alt="User Profile" />
        <div class="profile__details">
          <p><strong>Anmalima</strong></p>
          <p>Andres Licona</p>
        </div>
      </div>

      <div class="suggestions">
        <p>Sugerencias para ti</p>
        @for (friend of friendsList; track $index) {
        <app-suggestion [img]="friend.profile_picture" [name]="friend.name"/>
        }
      </div>
    </aside>
  </section>

  <footer class="footer">
    <p>&copy; 2024 Instagram</p>
  </footer>
</body>
