<section>
  <main class="main">
    <div class="main__item item-picture">
      <picture class="main__item-picture picture-left">
        <img
          class="main__item-picture-img"
          src="screenshot2.png"
          alt="screenshot"
        />
      </picture>
      <picture class="main__item-picture picture-rigth">
        <img
          class="main__item-picture-img"
          src="screenshot1.png"
          alt="screenshot"
        />
      </picture>
    </div>
    <div class="main__item main-item-col">
      <header class="main__item-header">
        <picture class="main__item-header-picture">
          <img src="logo.png" alt="logo instagram" />
        </picture>
      </header>
      <form action="" (submit)="handleSubmit($event)" class="main__item-form">
        <fieldset>
            <input
            type="text"
            class="main__item-form-input"
            placeholder="Teléfono, usuario o correo electrónico"
            name="email"
            />
            <label for="userName" class="main__item-form-label label-userName">
              Teléfono, usuario o correo electrónico
            </label>
        </fieldset>
        <fieldset>
            <input
            class="main__item-form-input"
            [type]="typeInput?'text':'password'"
            placeholder="Contraseña"
            name="password"
            />
            <label for="userName" class="main__item-form-label label-password">
              Contraseña
            </label>
            <button type="button"  class="main__item-form-input-btn" (click)="changeType()">{{typeInput?'Ocultar':'Mostrar'}}</button>
        </fieldset>
        <button class="main__item-form-btn" type="submit">
          Iniciar Sesión
        </button>
      </form>
      <div class="main__item-divisor">
        <div class="main__item-divisor__line"></div>
        <div class="main__item-divisor_center"></div>
        <div class="main__item-divisor__line"></div>
      </div>
      <div class="main__item-content">
        <button class="main__item-content-btn">
          <img src="facebook-logo.svg" alt="logo facebook" /><span
            >Iniciar sesión con Facebook</span
          >
        </button>
        <a href="" class="main__item-content-link">¿Olvidaste tu contraseña?</a>
        <p class="main__item-content-text text-resgister">
          ¿No tienes una cuenta? <span>Regístrate</span>
        </p>
        <p class="main__item-content-text">Descarga la app</p>
        <div class="main__item-content-stores">
          <a href="https://apps.apple.com/us/app/instagram/id389801252">
            <img
              src="https://static.cdninstagram.com/rsrc.php/v3/yD/r/ZKu1RMHF20e.png"
              alt="appstore"
            />
          </a>
          <a
            href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=ig_mid%3DDB770C8D-EA11-4696-9BAE-35789561BB19%26utm_campaign%3DunifiedHome%26utm_content%3Dlo%26utm_source%3Dinstagramweb%26utm_medium%3Dbadge%26original_referrer%3Dhttps%253A%252F%252Fwww.instagram.com%252F"
          >
            <img
              src="https://static.cdninstagram.com/rsrc.php/v3/yT/r/0BpxdgM3WUr.png"
              alt="playstore"
            />
          </a>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <ul class="list">
      <li class="list__item"><a href="#" class="list__link">Meta</a></li>
      <li class="list__item"><a href="#" class="list__link">Información</a></li>
      <li class="list__item"><a href="#" class="list__link">Blog</a></li>
      <li class="list__item"><a href="#" class="list__link">Empleo</a></li>
      <li class="list__item"><a href="#" class="list__link">Ayuda</a></li>
      <li class="list__item"><a href="#" class="list__link">API</a></li>
      <li class="list__item"><a href="#" class="list__link">Privacidad</a></li>
      <li class="list__item"><a href="#" class="list__link">Condiciones</a></li>
      <li class="list__item"><a href="#" class="list__link">Ubicaciones</a></li>
      <li class="list__item">
        <a href="#" class="list__link">Instagram Lite</a>
      </li>
      <li class="list__item"><a href="#" class="list__link">Threads</a></li>
    </ul>

    <ul class="list">
      <li class="list__item">
        <a href="#" class="list__link"
          >Importación de contactos y no usuarios</a
        >
      </li>
      <li class="list__item">
        <a href="#" class="list__link">Meta Verified</a>
      </li>
    </ul>
    <ul class="list">
      <li class="list__item">Español</li>
      <li class="list__item">© 2024 Instagram from Meta</li>
    </ul>
  </footer>
</section>
